{% extends "home.html" %}

    
{% block content %}

<style>


    

    table, td, th {
        border: 1px solid black;
        color: black;
        width: 30%;
        background-color: cornflowerblue;
        }
        
    table {
    border-collapse: collapse;
    width: 50%;
    }
    
    th {
    height: 50px;
    }
    td {
        width: 25%;
    }
    
</style>
    <center><h1>{{text}}</h1></center>

    <center>

    
    <table>


    <tr>
        <th>Fields</th>
        <th>Info</th>
    </tr>


    <tr>
        <td>Username</td>
        <td>{{user.user_name}}</td>
    </tr>

    <tr>
        <td>Email ID</td>
        <td>{{user.email_id}}</td>
    </tr>

    <tr>
        <td>College Name</td>
        <td>{{user.college_name}}</td>
    </tr>

    <tr>
        <td>Degree</td>
        <td>{{user.degree}}</td>
    </tr>

    <tr>
        <td>Passout year</td>
        <td>{{user.passout_year}}</td>
    </tr>

    <tr>
        <td>Course</td>
        <td>{{user.course}}</td>
    </tr>

    <tr>
        <td>School Name</td>
        <td>{{user.school_name}}</td>
    </tr>

    <tr>
        <td>Age</td>
        <td>{{user.age}}</td>
    </tr>
    </table>

    <br>
    <tr>
        <td></td>
        <td><a href="{% url 'logout' %}"><button>Logout</button></a></td>
    </tr>
    <br>

    
</center>
{% endblock %}
    

</html>